*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f7f7f7;
}

.container {
  text-align: center;
  padding: 30px;
}

.heading__title {
  font-weight: 600;
  color: lightcoral;
  font-size: 50px;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

.loading {
  background: linear-gradient(#1fe4f5, #3fbafe);
  color: white;
  font-size: 30px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}